h1{
    font-size: 35px
}
span p {
    font-size: 15px;
    text-align: justify;
    margin: 0 10px;
}
.cardInfo{
    background-color: red;
    border-radius: 10px;
    height: 490px;
    width: 205px;
}
.App-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}